.test-item {
  width: 45%;
  height:110px;
  background: #FFF;
  border: 1px solid #EDEDED;
  border-radius: 10px;
  margin: 8px 45px auto auto;
}
.border-right {
  border-right: 1px solid #EDEDED;
}
.left-img {
  width: 140px;
  height: 110px;
}
.item-content {
  width: 40%;
  margin: 15px 40px;
}
.item-test-name {
  margin: 10px auto 20px auto;
}
.more {
  text-underline: none;
}
.more:hover,  .more:active, .more:visited {
  color: #000;
}
.question-item {
  width: 100%;
  height: 200px;
  margin-top: 50px;
  margin-bottom:40px;
  text-align: left;
  padding: 10px 42px;
}
